<div class="container-fluid">
  <div class="pending-homepage row">
  	<h2>Pending Your Confirmation</h2>
		<hr>

		<%= render partial: 'employee_pending_confirmations', locals: { employee_pending_confirmations: @employee_pending_confirmations } %>
  </div>
  <div class="pending-homepage row">
  	a
  </div>
</div>